@inherits LayoutComponentBase

<header class="header">
    <div class="content">
        <div class="header__logo">
            <a class="header__logo-img" href="/">
                <img src="/images/logo.svg" />
            </a>
        </div>
        <div class="header__menu">
            <NavMenu />
        </div>
    </div>
</header>

@Body

<footer class="footer">
    <div class="content">
        <div class="footer__header">
            <div class="footer__logo">
                <a class="footer__logo-img" href="/">
                    <img src="/images/logo-black.svg" />
                </a>
            </div>
            <nav class="footer__nav">
                <div class="footer__nav-item"><a href="/about">О проекте</a></div>
                <div class="footer__nav-item"><a href="/contacts">Контакты</a></div>
                <div class="footer__nav-item"><a href="/faq">FAQ</a></div>
            </nav>
        </div>
    </div>
</footer>