.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.hamburger {
    display: none;
}

@media (max-width: 720px) {

    .hamburger {
        display: flex;
    }

    .collapse {
        display: flex;
        height: 0;
    }

    .nav-scrollable {
        height: calc(100vh - 90px);
        overflow-y: auto;
    }
}
