@page "/history"

@attribute [Authorize]

<PageTitle>История</PageTitle>

<main class="page page__bg-gray">
    <div class="content">

        <h2 class="content__title">Ранее созданные комиксы</h2>

        <div class="comic-container">
            <div class="comic-history">
                <div class="comic-history__item">
                    <img src="/images/slide-example.png" />
                    <div class="comic-history__item-title">Я ограбил банк</div>
                </div>
                <div class="comic-history__item">
                    <img src="/images/slide-example.png" />
                    <div class="comic-history__item-title">Я ограбил банк</div>
                </div>
                <div class="comic-history__item">
                    <img src="/images/slide-example.png" />
                    <div class="comic-history__item-title">Я ограбил банк</div>
                </div>
            </div>
        </div>
    </div>
</main>