@using GigaComic.Shared.Requests.Comic

<h2 class="content__title">Давайте придумаем тему комикса</h2>

<EditForm Model="CreateComicRequestModel" OnValidSubmit="OnContinue">
    <DataAnnotationsValidator />

    <div class="d-flex justify-content-center" style="width: 100%; margin: 0 auto;">

        <div style="width: 60%;">
            <Input Style="height: 48px;"
                   Class="theme__input"
                   @bind-Value="CreateComicRequestModel!.Theme"
                   TValue="string" />
            <ValidationMessage For="@(() => CreateComicRequestModel.Theme)" />
        </div>

        <ButtonWithLoader Type="submit"
                          Text="Продолжить"
                          Width="148"
                          Height="48"
                          @ref="_btn" />

    </div>

</EditForm>

@code {
    [Parameter]
    public CreateComicRequest? CreateComicRequestModel { get; set; }

    [Parameter]
    public EventCallback OnContinueCallback { get; set; }

    private ButtonWithLoader? _btn;

    private async Task OnContinue()
    {
        _btn!.MarkAsLoading();
        await OnContinueCallback.InvokeAsync();
        _btn!.MarkAsDefault();
    }
}
