@page "/"

@using GigaComic.Client.Managers.Comic
@using GigaComic.Shared.Requests.Comic
@using GigaComic.Shared.Responses.Comic
@using GigaComic.Client.Components.Comic.Theme

@attribute [Authorize]

@inject IComicManager comicManager

<PageTitle>Создать комикс</PageTitle>

<main class="page page__bg-gray">
    <div class="content">
        @if (ComicResponseModel != null)
        {
            <ComicView ComicResponseModel="ComicResponseModel" />
        }
        else
        {
            <CreateTheme CreateComicRequestModel="CreateComicRequestModel" OnContinueCallback="CreateComicAsync" />

            @if (!string.IsNullOrEmpty(_createComicError))
            {
                <div class="validation-message">@_createComicError</div>
            }
        }
    </div>
</main>

@code {
    private ComicResponse? ComicResponseModel { get; set; } = null;
    private CreateComicRequest CreateComicRequestModel { get; set; } = new();

    private string? _createComicError;

    private async Task CreateComicAsync()
    {
        var result = await comicManager.CreateComicByThemeAsync(CreateComicRequestModel);

        if (result.Succeeded)
        {
            ComicResponseModel = result.Data;
            _createComicError = null;
        }
        else
        {
            _createComicError = result.GetMessages();
        }

        StateHasChanged();
    }
}